<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.todo_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="todo app"
        android:roundIcon="@mipmap/ic_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity
            android:name=".SplashScreen"
            android:theme="@style/NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity android:name="com.example.todo_app.todohelper"
            android:theme="@style/AppTheme" >
        </activity>

    </application>

</manifest>